%body
  %input#humberger_check{:role => "button", :title => "menu", :type => "checkbox"}/
  %label.humberger{"aria-hidden" => "true", :for => "humberger_check", :title => "menu"}
    %span
  %header.header_bar
    %h1 nakauchannel
  %main.container
    %section.content
      %h2 nakauchannel
  %nav.hidden_menu
    %ul
      %li
        %a{:href => "#"}
          %i.icon-picture>
          RECIPES
      %li
        %a{:href => "#"}
          %i.icon-film>
          YOUTUBE
      %li
        %a{:href => "#"}
          %i.icon-music>
          BLOG
      %li
        %a{:href => "#"}
          %i.icon-headphones>
          PERSONAL
      %li
        %a{:href => "#"}
          %i.icon-cogs>
          CONTACT
          %i.fas.fa-user
